.caja-login{display: flex;
     flex-direction: column;
     margin: 10px;
     height: 30vh;
     width: 50vh;
     border: 2px solid black;
     margin: auto;
     margin-top:20px ;
    justify-content: space-around;
padding-top: 8vh;
padding-bottom: 8vh;}